/*General styling*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*adjust all default browser font size*/
  line-height: 1.15;
  min-height: 100vh;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(to bottom right, #af67e9, #6565e7);
}

/*CONTAINER*/

.faq-container {
  display: flex;
  justify-content: space-between;
  margin: 6rem 10rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: auto;
  max-width: 85%;
  overflow: hidden;
}

.items {
  margin: 0 auto;
  margin-top: 3rem;
}

#accordion-container {
  margin-top: 5rem;
  padding-bottom: 2rem;
  width: 50%;
}

.accordion-title {
  padding-top: 0.5rem;
  padding-bottom: 0.7rem;
  font-size: 2.4rem;
  color: #1d1e35;
}

/*QUESTION PART*/

.accordion-question {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  border-bottom: 0.1rem solid #e7e7e9;
  width: 90%;
  color: #4a4b5e;
  font-family: inherit;
  font-weight: 500;
  text-align: left;
}

/*Add icons*/

.accordion-question::after {
  content: url(svgs/icon-arrow-down.svg);
  float: right;
  transform: rotate(0);
  transition: 0.3s;
}

/*Active state*/
.accordion-question-active {
  font-weight: 700;
  color: #1d1e35;
  border: none;
}

/*Handling icon on active state*/
.accordion-question-active::after {
  float: right;
  transform: rotate(180deg);
}

.accordion-question:focus {
  outline: none;
}

/*ANSWER PART*/

.accordion-answer {
  display: none;
  margin-top: 0;
  padding-right: 2.5rem;
  padding-left: 0.5rem;
  font-weight: 500;
  text-align: left;
  color: #787887;
  transform: max-height 0.3s;
  border-bottom: 0.1rem solid #e7e7e9;
  width: 90%;
}

/*Active state*/

.accordion-answer-active {
  display: block;
  max-height: 30rem;
  line-height: 1.5;
  overflow: auto;
  border-bottom: 0.1rem solid #e7e7e9;
  font-size: 1.8rem;
  text-align: left;
}

/*IMAGES*/

.img-container {
  background-image: url(svgs/bg-pattern-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  transform: scale(1);
  width: 27rem;
  height: 50rem;
  position: relative;
}

.img-woman {
  position: absolute;
  top: 12.5rem;
  left: 2rem;
}

.img-box {
  position: absolute;
  top: 35rem;
  left: 5rem;
  transition: transform 200ms ease-in-out;
}

/*Active state for box img*/

.img-box-active {
  transform: translate(-3.7rem);
}
